extends layout.pug

block content
    .container.bg-light.p-5
        h2 Item Details 
            hr
            div.grid-details
                div.mt-3
                    h4.text-secondary PickUp:
                    h3.p-2= registro.pu
                div.mt-3 
                    h4.text-secondary Delivery:
                    h3.p-2= registro.del
                div.mt-3 
                    h4.text-secondary Load Number:
                    h3.p-2= registro.loadnumber 
                div.mt-3 
                    h4.text-secondary Origin City:
                    h3.p-2= registro.ocity 
                div.mt-3 
                    h4.text-secondary Destiny City:
                    h3.p-2= registro.dcity 
                div.mt-3 
                    h4.text-secondary Commodity:
                    h3.p-2= registro.commodity
                div.mt-3 
                    h4.text-secondary Broker Company:
                    h3.p-2= registro.brokercompany
                div.mt-3 
                    h4.text-secondary Broker Name:
                    h3.p-2= registro.brokername
                div.mt-3 
                    h4.text-secondary Broker Phone:
                    h3.p-2= registro.brokerphone
                div.mt-3 
                    h4.text-secondary Phone Extension:
                    h3.p-2= registro.phoneextension
                div.mt-3 
                    h4.text-secondary Rate:
                    h3.p-2= registro.rate 
                div.mt-3 
                    h4.text-secondary Truck:
                    h3.p-2= registro.truck
                div.mt-3 
                    h4.text-secondary Paid / Unpaid:
                    h3.p-2= registro.paidunpaid
                div.d-flex.flex-column
                    div.p-1
                        a.w-100.btn.btn-dark(href="/data") Back
                    div.p-1 
                        a.w-100.btn.btn-primary(href="/edit/"+registro.id) Edit
                    div.p-1
                        a.w-100.btn.btn-success(href="/new") New
                    div.p-1
                        a.w-100.btn.btn-danger.text-light(href='/delete/'+registro.id onclick='return confirm("Item will be deleted, are you sure?")') Delete
    
