extends layout.pug

block content 
    form.container.bg-light.p-4(action="/update" method="POST")
        div.grid-section
            div
                smal.text-dark PICKUP 
                input.form-control(type="date" name="pu" value=registro.pu required)
            div
                smal.text-dark DELIVERY
                input.form-control(name="del" type="date" value=registro.del)
            div
                input.form-control(name="loadnumber" type="text" placeholder="Load Number" value=registro.loadnumber required)
            div 
                input.form-control(value=registro.ocity type="text" name="ocity" id="ocity")
                div.ocityResults.d-none.itemResult
            div 
                input.form-control(value=registro.dcity type="text" name="dcity" id="dcity")
                div.dcityResults.d-none.itemResult
            div
                input.form-control(name="commodity" type="text" placeholder="Commodity" value=registro.commodity required)
            div
                input.form-control(name="brokercompany" type="text" placeholder="Broker Company" value=registro.brokercompany required)
            div
                input.form-control(name="brokername" type="text" placeholder="Broker Name" value=registro.brokername required)
            div
                input.form-control(name="brokerphone" id="brokerPhone" type="text" placeholder="Broker Phone" value=registro.brokerphone required)
            div
                input.form-control(name="phoneextension" type="text" placeholder="Phone Extension" value=registro.phoneextension required)
            div
                input.form-control(name="rate" type="number" placeholder="$Rate" value=registro.rate required)
            div
                input.form-control(name="truck" type="text" placeholder="Truck Number" value=registro.truck required)
            div
                select.form-control(name="paidunpaid" id="paidunpaid")
                    option(value="unselect") -- Paid / Unpaid --
                    option(value="paid") Paid
                    option(value="unpaid") Unpaid

            input(type="hidden", name='registroId', value=registro.id)
            div.d-flex
                div.p-1
                    input.btn.main-color.text-light(type="submit" value="Save")
                div.p-1
                    a.btn.bg-dark.text-light(href ="/data" value="Cancel") Cancelar

              
    script(src='../javascripts/editForm.js')

    script. 
            const paidunpaidValue = '#{registro.paidunpaid}';
            const selectPaid = document.getElementById('paidunpaid');
            const arr = [...selectPaid.options];
            const index = arr.findIndex((item) => {
                return item.value === paidunpaidValue;
            })
            selectPaid.options[index].selected = true;
