extends layout.pug 

block content 
    .container.bg-light 
        div.d-flex.justify-content-end
            div.p-2.text-right
                a.btn.btn-primary(href="/new") New
            div.p-2.text-right
                 a.btn.color-excel(href="/download") Download 
                    i.bi.bi-file-earmark-excel-fill   
    
            
        h2.text-center.p-3 Items
        .d-flex.flex-wrap.text-start
            h3.text-item.fw-5.col-2 PICKUP
            h3.text-item.fw-5.col-2 LOAD
            h3.text-item.fw-5.col-3 O-City 
            h3.text-item.fw-5.col-3 D-City 
            h3.text-item.fw-5.col-2 - 
        hr
        .d-flex.flex-wrap
            each registro in registros
                h3.text-itemT.col-2.p-3= registro.pu
                h3.text-itemT.col-2.p-3= registro.loadnumber
                h3.text-itemT.col-3.p-3= registro.ocity
                h3.text-itemT.col-3.p-3= registro.dcity
                div.col-2
                    a(href='detail/'+registro.id)
                     i.bi.bi-eye.text-primary.iconsize
                    a(href='edit/'+registro.id)
                     i.bi.bi-pencil-square.text-warning.iconsize
                    a.onclickButton(href='/delete/'+registro.id onclick='return confirm("Item will be deleted, are you sure?")')
                        i.bi.bi-trash3-fill.text-danger.iconsize
        hr
        div
            p.p-3.text-left Results: #{registros.length}




                        


            


            
                      